body
{
    margin: 0px;
}
.content{
    width: 200px;
    height: 300px;
    float: left;
    margin: auto;
}
.content_center{
    text-align: center;
    margin: auto;
}

.inf_box
{
    width: 60vw;
    height: 65vh;
    margin: auto; <!--/*이게 가운데 정렬*/-->
    text-align: center;
}
.inf_color_box
{
    width: 49.5%;
    height: 65%;
    display: inline-block;
}
.inf_color_box_in
{
    padding-right: 5px;
    float: right;
    margin-right: 10px;
    width: 60%;
    height: 100%
}
.inf_text_box
{
    width: 49.5%;
    height: 65%;
    display: inline-block;
}
.inf_text_box_in
{
    padding-left: 5px;
    float: left;
    margin-left: 10px;
    width: 60%;
    height: 100%;
    font-size: 15px;
    line-height: 100%;
}
.color_evaluation{
    width: 100%;
    text-align: center;
    height: 35%;
}
.error_box
{
    top: 40%;
    position: relative;
}
.star
{
    width: 50px;
    height: 50px;
}
.sum
{

}
.sum1
{
    right: 1%;
    margin: auto;
    top: 13%;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 3px solid #ccc;
    background-color: white;
    text-align: center;
    width: 15%;
    height: 70%;
    -webkit-transition: 0.5s;
}
.sum1:hover
{
    border: 3px lime solid;
}
.textarea
{
    font-family: 'Nanum Gothic', sans-serif;
    resize: none;
    width: 78%;
    height: 43px;
    font-size: 15px;
    padding: 8px;
    position: absolute;
    left: 1%;
}